    /*fonts*/
    
    h1 {
        font-size: 50px !important;
        display: inline-block !important;
        height:50px;
    }

    h2{
        font-size: 22px;
        line-height: 1.5;
    }

    h3{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 1;
        margin-top: 1;
        padding: 0;
    }   

    h4{
        font-size: 14px;
        font-weight:bold;
        line-height: 1.5;
        margin-bottom: 1;
        margin-top: 1;
        padding: 0;
    }

    br{
        height: 6px;
    }

/*commenting out due to navbar issues

    ul{
        font-size: 14px;
        line-height; 1.5;
        margin-bottom: 1;
        margin-top: 1;
        margin-left: 2em;
        padding: 0;
    }

    li{
        line-height: 1.5;
        font-size: 14px;
        line-height; 1.5;
        margin-bottom: 1;
        margin-top: 1;
        margin-left: 2em;
        padding: 0;


    }

    */

     .contactIcon {
        width: 0.5cm;
        text-align: center;
      }

    p{
        font-size: 14px;
    }   
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Roboto", sans-serif;
        min-height: 100vh;
        background-color: #bebebe;
    }
    
    .box{
        background-color: black;
        color: white;
        font-size: 2rem;
        padding: 2rem;
        margin: 10px;
        border-radius: 25px;
        height: auto;
    }

    .nested-box-contact{
        display:grid;
        grid-column:2;
        height: auto;
        grid-template-columns: 7% 93%;
        padding: 0.5em;
    }

    .nested-box-skills{
        display:grid;
        grid-column:2;
        grid-row:1;
        height: auto;
        grid-template-columns: 1fr 1fr;
        padding: 0.5em;
    }

    .nested-box-education{
        display:grid;
        grid-column:1;
        grid-row:1;
        height: auto;
        grid-template-columns: 1fr; 
        padding: 0.5em;
    }

    .container{
        display: grid;
        grid-template-columns: 1.5fr 2.5fr;
        grid-template-rows: 2;
        margin: auto;
        width: 70%;
        height: auto;
    }

    .me-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .box:first-child i {
        background-color: darkmagenta;
        text-align: left;
        float: left;  
        height: auto;     
    }

    .box:first-child p {
        background-color: darkmagenta;
        text-align: left;
        float: left;   
        height: auto;
        font-size: 16px;        
    }
    
    .box:first-child h2 {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 1;
        margin-top: 1;
        padding: 0;
        margin-left: 0.8em;    
    }

      .box:first-child {
        background-color: darkmagenta;
        height: auto;
        border: 0.5em;
      }

    .box:nth-child(2) {
        background-color: white;
        color: black;
        text-align: justify;
        height: auto;
      }

      .box:nth-child(3) {
        background-color: white;
        color: black;
        text-align: center;
        width: minmax(50% 100%);
        grid-column-start: 1;
        grid-column-end: 4;
        height: auto;
      }

      /*fade in header*/
      h1{animation: 5s ease-out 0s 1 FadeIn;}
        @keyframes FadeIn {
            0% {
                opacity:0;
                }
            100% {
                opacity:1;
                }
                  }

        .onLoad {
            -webkit-animation:bounceIn 2s;
        }


